{% extends "layout.html" %}

{% block title %}
Error
{% endblock %}

{% block main %}

<style>
    body {
        display: flex;
        align-items: center;
    }
</style>

<main class="w-100 m-auto text-center">
    <p><i class="bi-sign-stop-fill pcolor" style="font-size: 128px;"></i></p>
    <h1>{{ top | urlencode }}</h1>
    <h2 class="text-muted">Oops! Somethings has wrong. :(</h2>
    <h4 class="text-muted">{{ bottom | urlencode }}</h4>

    <div class="mt-3">
        <a href="javascript:history.back();" class="mt-3">Go back and retry!</a>
    </div>

</main>

{% endblock %}
