{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block main %}

<main>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img class="header-logo" src="/static/logo.png" width="150">
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">
                    <li><a href="/" class="nav-link px-2 link-secondary">Tasks</a></li>
                    <li><a href="/clients" class="nav-link px-2 link-secondary">Clients</a></li>
                    <li><a href="/settings" class="nav-link px-2 link-secondary fw-bold pcolor">Settings</a></li>
                </ul>
                <div class="text-end">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="d-flex align-items-center">
            <h3 class="mb-0 flex-grow-1">Job Types <span class="text-muted fs-5">({{ count or 0 }})</span></h3>
            <a href="/addJobType" class="btn btn-outline-secondary ms-2"><i class="bi-plus"></i> New</a>
        </div>
        <hr>
        <table class="table">
            <caption>List of Job Types</caption>
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Price ($)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for jobType in jobTypes %}
                <tr>
                    <th scope="row">{{ jobType.row }}</th>
                    <td>{{ jobType.name }}</td>
                    <td>{{ jobType.price }}</td>
                    <td><a href="/addJobType?typeid={{ jobType.typeid }}">Edit</a> <a href="#" onclick="remove({{ jobType.typeid }})">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<script>
    function remove(typeid) {
        bootbox.confirm('<h3>Oops!</h3> Are you sure?', function(result) {
            document.location.href = '/settings?submit=remove&typeid=' + typeid;
        });
    }
</script>

{% endblock %}